# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
.dist/
.build/
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env / secrets
.env
.env.*

# Cache
.cache/
.huggingface/

# Test artifacts
.pytest_cache/
